/* Gadget.css */

.gadture-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .gadture-card {
    text-align: center;
    margin: 10px;
  }
  
  .gadture-image-container {
    position: relative;
  }
  
  .gadture-image {
    height: 350px;
    width: 350px;
    border-radius: 15px;
   
    padding: 10px;
    border: 1px solid pink;
  }
  
  .product-details {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .add-to-cart-button {
    background-color: pink;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .shopping-cart {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    border: 1px solid pink;
    max-height: 100vh;
    overflow-y: auto;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-item img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .view-cart-link {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: pink;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
  }
  