.image-container {
  position: relative;
  height: 100vh;
  overflow: hidden; 
}

.image-container img {
  width: 100vw;
  height: 100vh;
  object-fit: cover; 
  animation: abi 5s infinite ease-in-out;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #0f0e0e; 
}

.animated-font {
  color: repeating-linear-gradient(rgb(165, 48, 68), rgb(74, 155, 225), rgb(221, 99, 99));
}
@keyframes abi {
  0%{
    background-image: url('Images/home1.jpg');
    background-position: center;
    width: 100vw;
    height:100vh;
  }
  0%{
    background-image: url('Images/Home3.jpg');
    background-position: center;
    width: 100vw;
    height:100vh;
  }
  0%{
    background-image: url('Images/Home4.jpg');
    background-position: center;
    width: 100vw;
    height:100vh;
  }
  
}
/* Home.css */
.carousel {
  width: 100%;
}

.carousel-inner {
  width: 100%;
}

.carousel-item {
  text-align: center;
}

.carousel-indicators {
  position: static;
}
