

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .product-card {
    margin: 10px;
    padding: 15px;
    /* background-color: #1a1818; */
    border: 1px solid #eb8c8c;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-image {
   
    width: 350px;
    height: 350px;
    height: auto;
    border-radius: 5px;
  }
  
  .product-card h3 {
    margin-top: 10px;
    text-align: center;
  }
  
  