

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  background-color: #333;
}


.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
 
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}

.navigation li {
  cursor: pointer;
}

.navigation li:hover {
  background-color: #555;
}

/* Add your responsive styles here */
@media screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: stretch;
  }

  .navigation a {
    text-align: center;
  }
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  padding: 10px;
}

ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
 row-gap:30px
}

ul.navigation li {
  margin: 0;
}

ul.navigation li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: background-color 0.3s ease;
}

ul.navigation li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.login-button {
  background-color: #4caf50; /* Green */
}

.logout-button {
  background-color: #f44336; /* Red */
}

.login-button:hover, .logout-button:hover {
  background-color: #45a049; /* Darker green or darker red on hover */
}
/* App.css */

/* ... (previous styles) ... */

.registration-button {
  background-color: #ff69b4; /* Pink */
}

.registration-button:hover {
  background-color: #ff1493; /* Darker pink on hover */
}

